    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    {% for project in site.data.works %}
    <!-- Portfolio Modal {{ project.order }} -->
    <div class="portfolio-modal modal fade" id="{{ project.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>{{ project.name }}</h2>
                                <p class="item-intro text-muted">{{ project.claim }}</p>
                                <img class="img-responsive img-centered" src="/assets/img/portfolio/large-{{ project.photo }}" alt="{{ project.img-alt }}">
                                <p>{{ project.description }}</p>
                                <p><strong>{{ project.call-to-action }}</strong></p>
                                <p>Project site: <a href="{{ project.web }}">{{ project.web }}</a></p>
                                <ul class="list-inline">
                                    <li>Date: {{ project.date }}</li>
                                    <li>Client: {{ project.client }}</li>
                                    <li>Category: {{ project.category }}</li>                      
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
